# Flask server configuration.
FLASK_APP=todo_app/app
FLASK_ENV=production

# Change the following values for local development.
SECRET_KEY=secret-key

TRELLO_APP_KEY={{ trello_app_key }}
TRELLO_TOKEN={{ trello_token }}
BOARD_ID={{ trello_board_id }}


