{% extends "layout.html" %}
{% block title %}To-Do App{% endblock %}

{% block content %}
  <div class="jumbotron">
    <h1 class="display-4">To-Do App</h1>
    <p class="lead">Just another to-do app.</p>
  </div>
  <div class="container">
    <h1 class="display-5"> Adminstration</h1>

    <table class="table table-striped primary"> 
      <thead>
        <tr>
          <th scope="col">User ID</th>
          <th scope="col">Roles</th>
        </tr>
      </thead>
      <tbody>
        {% for user in users %}
        <tr>
          <th scope="row">{{ user.id }}</th>
          <td> <div class="col">
            <form action="{{ url_for('update_users') }}" method="post">
            <input type="hidden" name="mongoid" value= {{user.mongoid}} >
            <input type="hidden" name="id" value={{user.id}}>
            <input type="checkbox" id="Reader" name="Reader" {% if user.hasrole('reader') %} checked {% endif %}}> <label for="Reader">Reader</label>
            </div><div class="col">
            <input type="checkbox" id="Writer" name="Writer" {% if user.hasrole('writer') %} checked {% endif %}}> <label for="Writer">Writer</label>
          </div><div class="col">
            <input type="checkbox" id="Admin" name="Admin" {% if user.hasrole('admin') %} checked {% endif %}}> <label for="Admin">Admin</label>
          </div><div class="col">
            <input type="submit" id="update_user_permissions" class="btn btn-primary" value="Update User Permissions" >
          </div></td>
        </form>
        </tr>
      </tbody>
      {% endfor %}
    </table>
   
  </div>
{% endblock %}