{% extends "layout.html" %}
{% block title %}To-Do App{% endblock %}

{% block content %}
  <div class="jumbotron">
    <h1 class="display-4">To-Do App</h1>
    <p class="lead">Just another to-do app.</p>
  </div>
    
  <div class="row">
    <div class="col-md-12">
      <h2>Items</h2>

      <h3>Todo</h3>
        <table id="main_view_todos_in_todo_state" width="100%"> 
          <tbody>
        <th width="20%">Name</th><th width="40%">Description&nbsp;</th><th width="10%">Due date</th>
        {% for todo in view_model.todo_items %}
          <tr> 
            <td> {{todo.name}}</td>
            <td><small>{{todo.description}}</small></td>
            <td>{{todo.duedate}}</td>
            {% if writer %} <td><a class="btn btn-primary" href="/modify/{{ todo.id }}" role="button">Modify</a></td>{% endif %}
          </tr>
        {% endfor %}
      </tbody>
      </table>
      <hr>
      <h3>Doing</h3>
      <table  id="main_view_todos_in_doing_state" width="100%"> 
        <th width="20%">Name</th><th width="40%">Description&nbsp;</th><th width="10%">Due date</th>
      {% for todo in view_model.doing_items %}
        <tr> 
          <td> {{todo.name}}</td>
          <td><small>{{todo.description}}</small></td>
          <td>{{todo.duedate}}</td>
          {% if writer %} <td><a class="btn btn-primary" href="/modify/{{ todo.id }}" role="button">Modify</a></td>{% endif %}
        </tr>
      {% endfor %}
    </table>
    <hr>
    <h3>Done</h3>
    {% if  view_model.done_items|length > 0 %}
    <table id="main_view_todos_in_done_state" width="100%"> 
      <th width="20%">Name</th><th width="40%">Description&nbsp;</th><th width="10%">Due date</th>
    {% for todo in view_model.done_items %}
      <tr> 
        <td> {{todo.name}}</td>
        <td><small>{{todo.description}}</small></td>
        <td>{{todo.duedate}}</td>
        {% if writer %} <td><a class="btn btn-primary" href="/modify/{{ todo.id }}" role="button">Modify</a></td>{% endif %}
      </tr>
    {% endfor %}
  </table>
  {% endif %}
 
  <details>
    <summary> Older Done Items </summary>
    {% if  view_model.older_done_items|length > 0 %}
      <table id="main_view_vintage_todos_in_done_state"width="100%"> 
        <th width="20%">Name</th><th width="40%">Description&nbsp;</th><th width="10%">Due date</th>
      {% for todo in view_model.older_done_items %}
        <tr> 
          <td> {{todo.name}}</td>
          <td><small>{{todo.description}}</small></td>
          <td>{{todo.duedate}}</td>
          {% if writer %} <td><a class="btn btn-primary" href="/modify/{{ todo.id }}" role="button">Modify</a></td>{% endif %}
        </tr>
      {% endfor %}
    </table>
    {% endif %}
</details>

    </div>
  </div>
  <hr>

  {% if writer %}
  <div class="row">
    <div class="col-md-12">
      <h2>Add a todo ! </h2>
      <form id="add_todo" action="{{ url_for('add_todo') }}" method="post">
        <table> <!-- Using a table to make it look tidy-->
        <tr><td><label for="title">Name: </label></td>
        <td><input type="text" id="add_todo_title" name="title"> <br/> </td></tr>
        <tr><td><label for="description">Description: </label></td>
        <td><input type="text"  id="add_todo_description"name="description"></br></td></tr>
        <tr><td><label for="duedate">Due Date: </label></td>
        <td><input type="date" id="add_todo_duedate" name="duedate"> </br></td></tr>
        <tr><td><input type="submit" id="add_todo_submit_button" class="btn btn-primary" value="Add To-Do" ></td></tr>
      </table>
      </form>
    </div>

  </div>
  {% endif %}

{% endblock %}