{% extends "layout.html" %}
{% block title %}To-Do App{% endblock %}

{% block content %}
  <div class="jumbotron">
    <h1 class="display-4">To-Do App</h1>
    <p class="lead">Just another to-do app.</p>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h2>Items</h2>

      <h3>Todo</h3>
        <table width="100%"> 
        <th width="20%">Name</th><th width="40%">Description&nbsp;</th><th width="10%">Due date</th>
        {% for todo in view_model.todo_items %}
          <tr> 
            <td> {{todo.name}}</td>
            <td><small>{{todo.description}}</small></td>
            <td>{{todo.duedate}}</td>
            <td><a class="btn btn-primary" href="/modify/{{ todo.id }}" role="button">Modify</a></td>
          </tr>
        {% endfor %}
      </table>
      <hr>
      <h3>Doing</h3>
      <table width="100%"> 
        <th width="20%">Name</th><th width="40%">Description&nbsp;</th><th width="10%">Due date</th>
      {% for todo in view_model.doing_items %}
        <tr> 
          <td> {{todo.name}}</td>
          <td><small>{{todo.description}}</small></td>
          <td>{{todo.duedate}}</td>
          <td><a class="btn btn-primary" href="/modify/{{ todo.id }}" role="button">Modify</a></td>
        </tr>
      {% endfor %}
    </table>
    <hr>
    <h3>Done</h3>
    <table width="100%"> 
      <th width="20%">Name</th><th width="40%">Description&nbsp;</th><th width="10%">Due date</th>
    {% for todo in view_model.done_items %}
      <tr> 
        <td> {{todo.name}}</td>
        <td><small>{{todo.description}}</small></td>
        <td>{{todo.duedate}}</td>
        <td><a class="btn btn-primary" href="/modify/{{ todo.id }}" role="button">Modify</a></td>
      </tr>
    {% endfor %}
  </table>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-md-12">
      <h2>Add a todo ! </h2>
      <form action="{{ url_for('add_todo') }}" method="post">
        <table> <!-- Using a table to make it look tidy-->
        <tr><td><label for="title">Name: </label></td>
        <td><input type="text" name="title"> <br/> </td></tr>
        <tr><td><label for="description">Description: </label></td>
        <td><input type="text" name="description"></br></td></tr>
        <tr><td><label for="duedate">Due Date: </label></td>
        <td><input type="date" name="duedate"> </br></td></tr>
        <tr><td><input type="submit" class="btn btn-primary" value="Add To-Do" ></td></tr>
      </table>
      </form>
    </div>
  </div>
{% endblock %}