{% extends "layout.html" %}
{% block title %}To-Do App{% endblock %}

{% block content %}
  <div class="jumbotron">
    <h1 class="display-4">To-Do App</h1>
    <p class="lead">Just another to-do app.</p>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h2>Items</h2>
      <ul class="list-group mb-4">
        <!-- List the todo items here -->
        {% for todo in todos %}
          <ul>  {{todo.title}} - {{todo.status}} <a class="btn btn-primary" href="/modify/{{ todo.id }}" role="button">Modify</a></ul>
            <!-- I didn't like the way they looked, so commenting them out
              <form action="{{ url_for('update_todo')}}" method="post"><input type="hidden" name="id" value="{{ todo.id }}"> <input type="hidden" name="status" value="In progress"><input type="submit" value="In Progress" class="btn btn-info" > </form> 
            <form action="{{ url_for('update_todo')}}" method="post"><input type="hidden" name="id" value="{{ todo.id }}"> <input type="hidden" name="status" value="Completed"> <input type="submit" value="Completed" class="btn btn-success" > </form>  
            <form action="{{ url_for('remove_todo')}}" method="post"><input type="hidden" name="id" value="{{ todo.id }}"> <input type="submit" value="Remove" class="btn btn-danger"> </form> 
            -->
            <br>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <h2>Add a todo ! </h2>
      <form action="{{ url_for('add_todo') }}" method="post">
        <input type="text" name="title">
        <input type="submit" class="btn btn-primary" value="Add To-Do" >
      </form>
    </div>
  </div>
{% endblock %}