<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>{% block title %}To-Do App{% endblock %}</title>
  </head>
  <body>
    {% if current_user.is_anonymous %} <!-- For e2e tests where login is disabled-->
      {% set admin=True %}
      {% set reader=True %}
      {% set writer=True %}
    {% elif current_user.is_authenticated %}
      {% set admin = current_user.hasrole('admin') %}
      {% if current_user.hasrole('reader') %} {% set reader=True %} {% else %} {% set reader=False %} {% endif %}
      {% if current_user.hasrole('writer') %} {% set writer=True %} {% else %} {% set writer=False %} {% endif %}
    {% else %}
      {% set admin=False %}
      {% set reader=False %}
      {% set writer=False %}
    {% endif %}

    <nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">To-Do App</a>
        <div class="d-flex justify-content-end">
          {% if current_user.is_authenticated %}
            {% if current_user.hasrole('admin') %} <a class="navbar-brand" href="{{ url_for('admin') }}"> Admin</a> {% endif %}
            <a class="navbar-brand" href="{{ url_for('logout') }}"> Logout</a>
          {% else %}
            <a class="navbar-brand" href="{{ url_for('index') }}"> Login</a>
          {% endif %}



          
      </div>
    </div>
    </nav>

    <div class="container body-content">
      {% block content %}{% endblock %}
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>
