{% extends "layout.html" %}
{% block title %}To-Do App{% endblock %}

{% block content %}
  <div class="jumbotron">
    <h1 id="modify-page-large-banner-title" class="display-4">Modify</h1>
    <p class="lead">Just another to-do app.</p>
  </div>

   <div class="row">
    <div id="modify-page-summary-of-todo" class="col-md-12">
      <h2>Update Todo </h2>
      <p> The Todo : <b> {{ todo.name}}</b> is currently in status: <b>{{ todo.status }} </b> </p> 
      <p>Description: <i> {{ todo.description}} </i></p><br/>
      <p>Due date: <b>{{ todo.duedate}} </b></p>
    <hr>
      <p>What would you like to set the status to: </p>

      <form id="modify_todo_form"action="{{ url_for('update_todo') }}" method="post">
        <table> <!-- Using a table to make it look tidy-->
        <tr>
          <td><label for="status">Name: </label></td>
          <td><input id="modify_form_name" type="text" name="name" value="{{ todo.name }}"></td></tr>
        <tr><td><label for="status">Status: </label></td>
        <td><input type="hidden" name="id" value="{{ todo.id }}">
          <select id="modify_form_status" type="option" name="status"  selected="{{todo.status}}" value="{{todo.status}}">
              <option value="{{todo.status}}" selected="selected">Select from below</option> <!-- If the user doesn't want to change the item, this will default what was saved-->
              <option value="To Do">To Do</option>
              <option value="Doing">Doing</option>
              <option value="Done">Done</option>
            </select> <br/> </td></tr>
        <tr><td><label for="description">Description: </label></td>
        <td><input id="modify_form_description" type="text" name="description" value ="{{ todo.description }}"></br></td></tr>
        <tr><td><label for="duedate">Due Date: </label></td>
        <td><input id="modify_form_duedate" type="date" name="duedate" value="{{ todo.duedate }}"> </br></td></tr>
        <tr><td><input id="modify_form_submit_button" type="submit" value="Update" class="btn btn-info" ></td></tr>
      </table>
      </form>
    </div>
  </div>
  <br>
  <hr>
   <div class="row">
    <div class="col-md-12">
      <h2>Remove todo ! </h2>
      <p> Do you wish to remove <b>{{todo.name}} </b> ? </p>
      <form action="{{ url_for('remove_todo') }}" method="post">
        <input type="hidden" name="id" value="{{ todo.id }}">
        <input type="submit" class="btn btn-danger" value="Remove">
      </form>
    </div>
  </div> 
  <br>
  <div class="row">
    <div class="col-md-12">
      <h2><a href="/">Go Home</a></h2>
    </br>
      
    </div>
  </div> 

{% endblock %}  